// -------------------------- COLORS -------------------------- //
$primary: rgb(116, 119, 185);
$primary-dark: hsl(240, 20%, 45%);
$primary-light: rgb(165, 155, 226);
$secondary-gray: #f0f0f0;
$secondary-warm: #80C98F;
$secondary-cool: rgb(81, 189, 169);
$light-gray-txt: rgb(157, 157, 157);

// -------------------------- SPACING -------------------------- //
$border-radius: 5px;
$chart-margin-bottom: 10vw;